<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New User</title>
  </head>
  <body>
    <h1>New User</h1>
    <form action="/users/edit" method="POST">
      <div>
        <label for="nick">Nick</label>
        <input value="<%= user.nick %>" type="text" name="nick" id="nick">
      </div>
      <div>
        <label for="email">E-mail</label>
        <input  value="<%= user.email %>" type="email" name="email" id="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input  value="<%= user.id %>" type="hidden" name="id">
      </div>
      <input  value="<%= user.password %>" type="password" name="password" id="password">      
      <button type="submit">Register</button>
    </form>
  </body>
</html>
