<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Users</title>
  </head>
  <body>
    <h1>Registered Users</h1>
    <table>
      <thread>
        <tr>
          <td>Nick</td>
          <td>E-mail</td>
          <td>Password</td>
        </tr>
      </thread>
      <tbody>
        <% for (let user of users){%>
          <tr>
            <td><%=user.nick %></td>
            <td><%= user.email%></td>
            <td><%= user.password%></td>
            <td>
              <a href="/users/edit/<%=user.id%>" class="btn btn-sm btn-secondary">Editar</a>
            </td>

          </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/users/new">New User</a>
  </body>
</html>
